*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
    color: #ffff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice1{
    height: 165px;
    width: 165px;
    text-align: center;
    border-radius: 50%;
    line-height: 165px;
    font-size: 7rem;
    background-color:pink;
}
.choice2{
    height: 165px;
    width: 165px;
    text-align: center;
    border-radius: 50%;
    line-height: 165px;
    font-size: 7rem;
    background-color: lightgreen;
}
.choice3{
    height: 165px;
    width: 165px;
    text-align: center;
    border-radius: 50%;
    line-height: 165px;
    font-size: 7rem;
    background-color: lightblue;
}
.choice1:hover, .choice2:hover, .choice3:hover{
    cursor: pointer; 
    background-color:#081b31;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
    
}

#user-score, #comp-score{
    font-size: 4rem;
    
}
.msg-container{
    margin-top: 5rem;
    text-align: center;
}

#msg{
    background-color: #081b31;
    color: #ffff;
    font-size:2rem ;
    text-align: center;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}


